.frame{
    position: relative;
    height: 2rem;
    width: 2rem;
    background: whitesmoke;
    border: 0.25rem solid lightgray;
    border-radius: 50%;
}
.hand{
    height: 0.1875rem;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: 0 -50%;
    width: 50%;
    transform-origin: center left;
    transition: rotate 0.3s ease-in-out;
}
.leftDown{
    .hand:nth-child(1){
        rotate: 180deg;
    }
    .hand:nth-child(2){
        rotate: 90deg;
    }
}

.horizontal{
    .hand:nth-child(1){
        rotate: 0deg;
    }
    .hand:nth-child(2){
        rotate: 180deg;
    }
}
.rightDown{
    .hand:nth-child(1){
        rotate: 0deg;
    }
    .hand:nth-child(2){
        rotate: 90deg;
    }
}
.rightUp{
    .hand:nth-child(1){
        rotate: -90deg;
    }
    .hand:nth-child(2){
        rotate: 0deg;
    }
}

.leftUp{
    .hand:nth-child(1){
        rotate: -90deg;
    }
    .hand:nth-child(2){
        rotate: 180deg;
    }
}

.inactive{
    .hand{
        rotate: 135deg;
    }
}

.vertical{
    .hand:nth-child(1){
        rotate: 90deg;
    }
    .hand:nth-child(2){
        rotate: -90deg;
    }
}

.digit{
    display: grid;
    grid-template:
            repeat(6, 1fr) /
            repeat(4, 1fr);
    gap: 0.125rem;
}
.comma{
    display: grid;
    grid-template:
            repeat(6, 1fr) /
            repeat(2, 1fr);
    gap: 0.125rem;
}

.fullClock{
    display: flex;
}