.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.particle {
  position: absolute;
  border-radius: 50%;
  will-change: transform;
}
.isActive {
  background-color: rgba(0, 0, 0);
}
.isInactive {
  background-color: rgba(0, 0, 0, 0.2);
}

.digitsWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  left: 50%;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.digitsContainer {
  display: grid;
  grid-template-rows: repeat(14, 15px);
  gap: 1px;
  margin: 1rem;
  padding: 1rem;
}

.row {
  display: flex;
}

.pixel {
  width: 15px;
  height: 15px;
  background-color: transparent;
}

.on {
  /*background-color: rgb(0, 0, 0, 0.1);*/
  border-radius: 50%;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  padding: 6px 10px;
  cursor: pointer;
}
